In [21]:
#@title ドライブをマウント
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [22]:
#@title データを保存するディレクトリのパスを指定
#@markdown ランタイムに接続しドライブを後、コピーしてくる<br>
#@markdown 後ろの / は追加するので、追記は不要<br>

cwd = "/content/drive/MyDrive/RNA-seq/Outputs/Hypoxia2" #@param {type:"string"}
cwd = cwd + "/"

# 必要なモジュールをインポートする
import pandas as pd
import numpy as np
from google.colab import files

# カレントディレクトリの変更
import os
os.makedirs(cwd , exist_ok = True)
os.chdir(cwd)
currentdir = os.getcwd()

In [23]:
#@title 実験名を定義
exp_name = "Hypoxia2" #@param {type:"string"}
exp_name = exp_name + "_"

＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝<br>
複数のcsvファイルを結合する<br>
pandasのデータフレームとしてcsv2つをそれぞれ読み込み、合わせて別のデータフレームに加算する<br>
読み込んだデータフレームをそれぞれdf1, df2、加算したものをdf3として<br>
df1+df2 =df3とし、df3をcsv出力した後にdf1=df3の処理を行うので、3つ以上のcsvを結合する場合は、df2のpathを書き換えて再度セルを実行すれば良い<br>
csvは毎回上書き出力するので、途中のファイルは残らない

In [24]:
#@title df1のパスを入力
df1_path = "/content/drive/MyDrive/RNA-seq/Outputs/Hypoxia2/DC_only_tpm.csv" #@param {type:"string"}
df1 = pd.read_csv(df1_path)
print(df1)

                Geneid     product  ...      H_DC_2      H_DC_3
0      ENSG00000000003      TSPAN6  ...   29.934867   40.241104
1      ENSG00000000005        TNMD  ...    0.000000    0.000000
2      ENSG00000000419        DPM1  ...  146.288098  153.640571
3      ENSG00000000457       SCYL3  ...    7.992398    6.595434
4      ENSG00000000460    C1orf112  ...    3.643118    2.929043
...                ...         ...  ...         ...         ...
58671  ENSG00000285990  AL589743.7  ...    0.000000    0.000000
58672  ENSG00000285991  AL355312.5  ...    0.000000    0.000000
58673  ENSG00000285992  AC120036.5  ...    0.000000    0.000000
58674  ENSG00000285993  AC018931.1  ...    0.000000    0.000000
58675  ENSG00000285994  AL731559.1  ...    0.000000    0.000000

[58676 rows x 8 columns]

In [25]:
#@title df2のパスを入力
#@markdown df3を計算してcsv出力、df1の再定義までを行う
df2_path = "/content/drive/MyDrive/RNA-seq/Outputs/Hypoxia2/Stat_only_tpm.csv" #@param {type:"string"}
df2 = pd.read_csv(df1_path)
df3 = pd.merge(df1 , df2 , how = "inner")

print(df3)
print("存在している列名は次の通り")
print(list(df3))

df3.to_csv(exp_name + "contact.csv" , index = False)
df1 = df3

                Geneid     product  ...      H_DC_2      H_DC_3
0      ENSG00000000003      TSPAN6  ...   29.934867   40.241104
1      ENSG00000000005        TNMD  ...    0.000000    0.000000
2      ENSG00000000419        DPM1  ...  146.288098  153.640571
3      ENSG00000000457       SCYL3  ...    7.992398    6.595434
4      ENSG00000000460    C1orf112  ...    3.643118    2.929043
...                ...         ...  ...         ...         ...
58671  ENSG00000285990  AL589743.7  ...    0.000000    0.000000
58672  ENSG00000285991  AL355312.5  ...    0.000000    0.000000
58673  ENSG00000285992  AC120036.5  ...    0.000000    0.000000
58674  ENSG00000285993  AC018931.1  ...    0.000000    0.000000
58675  ENSG00000285994  AL731559.1  ...    0.000000    0.000000

[58676 rows x 8 columns]
存在している列名は次の通り
['Geneid', 'product', 'N_DC_1', 'N_DC_2', 'N_DC_3', 'H_DC_1', 'H_DC_2', 'H_DC_3']

＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝<br>
結合したデータを並び替える<br>
まず、Geneidとproductをindex化し、残ったものを手動で並び替える

In [26]:
#@title 2列をindex化、残った行名を表示
df3 = df3.set_index(["Geneid" , "product"])
print("存在している列名は次の通り")
print(list(df3))

存在している列名は次の通り
['N_DC_1', 'N_DC_2', 'N_DC_3', 'H_DC_1', 'H_DC_2', 'H_DC_3']

並び替える順番に上に表示される列名を入力する<br>
クオーテーションマークは不要、スペースで区切ること<br>

In [27]:
#@title 列の並び替え
#@markdown 必要な場合のみ実行すれば良い
index_list = "N_DC_1 N_DC_2 N_DC_3 H_DC_1 H_DC_2 H_DC_3" #@param {type:"string"}
index_list = index_list.split()
df4 = df3.reindex(index_list , axis=1)

print("\n行名ミスによるNaN値が無いことを確認")
df4

行名ミスによるNaN値が無いことを確認

                                N_DC_1      N_DC_2  ...      H_DC_2      H_DC_3
Geneid          product                             ...
ENSG00000000003 TSPAN6       35.429129   30.044254  ...   29.934867   40.241104
ENSG00000000005 TNMD          0.000000    0.000000  ...    0.000000    0.000000
ENSG00000000419 DPM1        127.006436  116.304474  ...  146.288098  153.640571
ENSG00000000457 SCYL3         6.785430    5.965235  ...    7.992398    6.595434
ENSG00000000460 C1orf112      3.220708    6.265905  ...    3.643118    2.929043
...                                ...         ...  ...         ...         ...
ENSG00000285990 AL589743.7    0.000000    0.000000  ...    0.000000    0.000000
ENSG00000285991 AL355312.5    0.044119    0.000000  ...    0.000000    0.000000
ENSG00000285992 AC120036.5    0.000000    0.000000  ...    0.000000    0.000000
ENSG00000285993 AC018931.1    0.000000    0.000000  ...    0.000000    0.000000
ENSG00000285994 AL731559.1    0.000000    0.000000  ...    0.000000    0.000000

[58676 rows x 6 columns]

＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝<br>
データに平均行を追加する<br>
平均をとる開始行と終了行の行数を入力する<br>
また、平均列の列名を設定する

In [28]:
#@title データの確認
print("並び替え後の順番はこの通り")
df5 = df4.copy(deep = True)
print(list(df5))

並び替え後の順番はこの通り
['N_DC_1', 'N_DC_2', 'N_DC_3', 'H_DC_1', 'H_DC_2', 'H_DC_3']

In [30]:
#@title 平均を取る行数、平均列の列名の設定
#@markdown 平均を取る必要のある列の数だけ繰り返す<br>
#@markdown この際、列が追加されたことで列数が最初と異なるので注意<br>
#@markdown 間違えた場合は上のセルを実行することで元に戻すことができる
start = "1" #@param {type:"string"}
end = "3" #@param {type:"string"}
name = "N_DC_ave" #@param {type:"string"}

start = int(start) -1
end = int(end)
df5.insert(end , name , df5.iloc[: , start:end].mean(axis = 1).values)
df5.to_csv(exp_name + "avetpm.csv")
df5

                                N_DC_1      N_DC_2  ...      H_DC_3    H_DC_ave
Geneid          product                             ...
ENSG00000000003 TSPAN6       35.429129   30.044254  ...   40.241104   34.341144
ENSG00000000005 TNMD          0.000000    0.000000  ...    0.000000    0.000000
ENSG00000000419 DPM1        127.006436  116.304474  ...  153.640571  146.945609
ENSG00000000457 SCYL3         6.785430    5.965235  ...    6.595434    6.930264
ENSG00000000460 C1orf112      3.220708    6.265905  ...    2.929043    3.068737
...                                ...         ...  ...         ...         ...
ENSG00000285990 AL589743.7    0.000000    0.000000  ...    0.000000    0.000000
ENSG00000285991 AL355312.5    0.044119    0.000000  ...    0.000000    0.000000
ENSG00000285992 AC120036.5    0.000000    0.000000  ...    0.000000    0.000000
ENSG00000285993 AC018931.1    0.000000    0.000000  ...    0.000000    0.000000
ENSG00000285994 AL731559.1    0.000000    0.000000  ...    0.000000    0.000000

[58676 rows x 8 columns]